    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <listheading>Features:</listheading>
                <div class="list">
                    <ul>
                        <li>Ultra-fast detection</li>
                        <li>Weatherproof</li>
                        <li>Simple setup</li>
                        <li>Recording scheduled between sunset and sunrise for locations across the UK</li>
                        <li>Lens fixed at 1.5m distance</li>
                        <li>Long battery life lasting between 20-25 days</li>
                        <li>Remote software updates</li>
                        <li>Saves only recordings of verified movement reducing data storage and analysis time</li>
                    </ul>
                </div>
                <listheading>Uses:</listheading>
                <div class="list">
                    <ul>
                        <li>Recording videos of bats at their roosts</li>
                        <li>Identifying bat behaviour outside of roosts</li>
                        <li>Surveying trees - proving presence /absence in a given tree</li>
                        <li>Recording the length of time that individual roosts are used</li>
                        <li>Monitoring tree mitigation/ exclusion and disturbance</li>
                        <li>Counting the numbers of bats in a roost</li>
                        <li>Identifying movements of bats across woodlands</li>
                        <li>Uses for work with other animals such as shrews, swifts, badgers and newts</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
