    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About the REFLEX camera</h2>
                <ul>
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ul>
                <p>Ultra fast detection</p>
                <p>Weatherproof</p>
                <p>Simple deployment</p>
                <p>Long battery life 20-25 days runtime</p>
                <p>A set of videos recorded on the camera can be viewed here <a href="https://www.youtube.com/channel/UCIvYyv2GKmxF0UZGjIj0Vpw">REFLEX Youtube channel</a>.</p>
            </div>
        </div>
    </section>
