<div id="home">
  <h2>Entries</h2>
  <table>
    <thead>
      <th>Developer's name</th>
      <th>Programming language</th>
      <th>Comment</th>
    </thead>
    <tbody>
      {% assign entries = site.data.entries | sort %}
      {% for entry in entries %}
        <tr>
          <td>{{ entry[1].name }}</td>
          <td>{{ entry[1].language }}</td>
          <td>{{ entry[1].message }}</td>
        </tr>
      {% endfor %}  
    </tbody>
  </table>

  <h2>Add new entry</h2>
  <form method="post" action="https://api.staticman.net/v2/entry/eduardoboucas/staticman-recaptcha/master/comments">
    <label for="name">Name</label>
    <input id="name" type="text" name="fields[name]" placeholder="John Doe">

    <label for="email">Favourite programming language</label>
    <select name="fields[language]">
      <option value="Ruby">Ruby</option>
      <option value="JavaScript">JavaScript</option>
      <option value="Python">Python</option>
      <option value="PHP">PHP</option>
      <option value="Java">Java</option>
      <option value="Go">Go</option>
      <option value="Rust">Rust</option>
      <option value="C">C</option>
    </select>
    
    <label for="message">Comment</label>
    <textarea id="message" name="fields[message]" placeholder="Here's the thing..."></textarea>

    <input type="hidden" name="options[redirect]" value="https://recaptcha-demo.staticman.net/thankyou">
    <input type="hidden" name="options[redirectError]" value="https://recaptcha-demo.staticman.net/error">

    <input type="hidden" name="options[reCaptcha][siteKey]" value="6LfYwuYaAAAAAAN01_bqJ3oQ-0Zybq0oRG-YGYNE">
    <input type="hidden" name="options[reCaptcha][secret]" value="uY+rO19gGyNcubBWEYULsqdyhPN1dNvUPYW8lbCYfBBMfqD30QfknAlciE3hRVU3qalNO2ScJ5Qx2JBS8GhG892bjj2M6m6yNIiUt4r2dT+Yxe89W8moJx+aTsYwx0xa9I/scmx/nUzqLYBGRALWOwL2CCLnukpjXEQJJEceb3IE4sPjKvpxiA/ovI82OX766ovszaduPOmtRYrHVwnmNuVjB5C6CZ0tOh3WU2/8bR4FuPhMPk5DO14Thp5VuDQIwfD+Hov0MDsZhY8YEr8LoN/8SnbxXxz1KgT9ZpznOrZEf6f65478DK3/vQOHIflHC8khSABocEtKyMaeQcjX690s7MIDZGz47iwHLIdBhAWkWoBr0448FMS53SLc5Nf2Ol4zN0G00cx/BFcsD5Xkc90LZrOrwPn1INJS8Hp7kSE6hjTwU0WZg6SAIbLgS0HPqcL7ZG1tZ01KN1j1zozrEwBGhwYydwYynJnVbz9SRUJ36AR+D+wxQ7+m8ma/GI75RV/2rC7/1FqbX8O1+FnxK3ianC6OrSlHamUijXqL0wF6UsnbCSlVNhLHxLIB25o1YKFaF8e6Qb7fjTkKPa1HtyooyWIq7jUGWALa6MuhNtGs9xyeCsmgCne5EuQ2slkYFCIMhlUi12Q8Y+s48yXfxssyN70GEA50IZ8qS1e6O00=
">

    <div class="g-recaptcha" data-sitekey="6LfYwuYaAAAAAAN01_bqJ3oQ-0Zybq0oRG-YGYNE"></div>

    <button type="submit">Submit</button>
  </form>

  <script src='https://www.google.com/recaptcha/api.js'></script>
</div>
