    <!-- Contact Section -->
    <!-- https://travisdowns.github.io/blog/2020/02/05/now-with-comments.html#configure-bridge-secrets -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>For further details please contact me</p>
                <form>
                  <label for="fname">First name:</label><br>
                  <input type="text" id="fname" name="fname"><br>
                  <label for="lname">Last name:</label><br>
                  <input type="text" id="lname" name="lname">
                </form>
                <input type="hidden" name="options[reCaptcha][siteKey]" value="6LfYwuYaAAAAAAN01_bqJ3oQ-0Zybq0oRG-YGYNE">
                <input type="hidden" name="options[reCaptcha][secret]" value="uY+rO19gGyNcubBWEYULsqdyhPN1dNvUPYW8lbCYfBBMfqD30QfknAlciE3hRVU3qalNO2ScJ5Qx2JBS8GhG892bjj2M6m6yNIiUt4r2dT+Yxe89W8moJx+aTsYwx0xa9I/scmx/nUzqLYBGRALWOwL2CCLnukpjXEQJJEceb3IE4sPjKvpxiA/ovI82OX766ovszaduPOmtRYrHVwnmNuVjB5C6CZ0tOh3WU2/8bR4FuPhMPk5DO14Thp5VuDQIwfD+Hov0MDsZhY8YEr8LoN/8SnbxXxz1KgT9ZpznOrZEf6f65478DK3/vQOHIflHC8khSABocEtKyMaeQcjX690s7MIDZGz47iwHLIdBhAWkWoBr0448FMS53SLc5Nf2Ol4zN0G00cx/BFcsD5Xkc90LZrOrwPn1INJS8Hp7kSE6hjTwU0WZg6SAIbLgS0HPqcL7ZG1tZ01KN1j1zozrEwBGhwYydwYynJnVbz9SRUJ36AR+D+wxQ7+m8ma/GI75RV/2rC7/1FqbX8O1+FnxK3ianC6OrSlHamUijXqL0wF6UsnbCSlVNhLHxLIB25o1YKFaF8e6Qb7fjTkKPa1HtyooyWIq7jUGWALa6MuhNtGs9xyeCsmgCne5EuQ2slkYFCIMhlUi12Q8Y+s48yXfxssyN70GEA50IZ8qS1e6O00=">
                <div class="g-recaptcha" data-sitekey="6LfYwuYaAAAAAAN01_bqJ3oQ-0Zybq0oRG-YGYN"></div>
                <!-- <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>-->
                <script src='https://www.google.com/recaptcha/api.js'></script>
            </div>
        </div>
    </section>
