    <!-- Contact Section -->
    <!-- full setup. https://travisdowns.github.io/blog/2020/02/05/now-with-comments.html#configure-bridge-secrets -->
    <!-- demo of github page. https://github.com/eduardoboucas/staticman-recaptcha -->
    <!-- formatting https://getbootstrap.com/docs/4.0/components/forms/ -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>For further details or to buy a camera please fill out your contact details and send me a message using the form below</p>
                    <form action="https://usebasin.com/f/2c8839609d3d" method="POST">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" name="name" class="form-control" id="Name" aria-describedby="Name" placeholder="Enter Name">
                     </div>
                     <div class="form-group">
                        <label for="Email">Email address</label>
                        <input type="email" name="email" class="form-control" id="Email" aria-describedby="Email" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="Company/ bat group">Company/ bat group</label>
                        <input type="text" name="Company/ bat group" class="form-control" id="Company/batgroup" placeholder="Enter Company/ Bat group">
                    </div>
                    <div class="form-group">
                        <label for="Number of cameras you would like to purchase">Number of cameras you would like to purchase</label>
                        <input type="number" name="Number of cameras you would like to purchase" class="form-control" id="Numberofcameras" placeholder="Enter the number of cameras you would like to purchase">
                    </div>
                    <div class="form-group">
                        <label for="message">Enter message</label>
                        <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                    </div>
                    <input type="hidden" name="options[reCaptcha][siteKey]" value="6LfYwuYaAAAAAAN01_bqJ3oQ-0Zybq0oRG-YGYNE">
                    <input type="hidden" name="options[reCaptcha][secret]" value="uY+rO19gGyNcubBWEYULsqdyhPN1dNvUPYW8lbCYfBBMfqD30QfknAlciE3hRVU3qalNO2ScJ5Qx2JBS8GhG892bjj2M6m6yNIiUt4r2dT+Yxe89W8moJx+aTsYwx0xa9I/scmx/nUzqLYBGRALWOwL2CCLnukpjXEQJJEceb3IE4sPjKvpxiA/ovI82OX766ovszaduPOmtRYrHVwnmNuVjB5C6CZ0tOh3WU2/8bR4FuPhMPk5DO14Thp5VuDQIwfD+Hov0MDsZhY8YEr8LoN/8SnbxXxz1KgT9ZpznOrZEf6f65478DK3/vQOHIflHC8khSABocEtKyMaeQcjX690s7MIDZGz47iwHLIdBhAWkWoBr0448FMS53SLc5Nf2Ol4zN0G00cx/BFcsD5Xkc90LZrOrwPn1INJS8Hp7kSE6hjTwU0WZg6SAIbLgS0HPqcL7ZG1tZ01KN1j1zozrEwBGhwYydwYynJnVbz9SRUJ36AR+D+wxQ7+m8ma/GI75RV/2rC7/1FqbX8O1+FnxK3ianC6OrSlHamUijXqL0wF6UsnbCSlVNhLHxLIB25o1YKFaF8e6Qb7fjTkKPa1HtyooyWIq7jUGWALa6MuhNtGs9xyeCsmgCne5EuQ2slkYFCIMhlUi12Q8Y+s48yXfxssyN70GEA50IZ8qS1e6O00=">
                    <div class="g-recaptcha" data-sitekey="6LfYwuYaAAAAAAN01_bqJ3oQ-0Zybq0oRG-YGYNE"></div>
                    <br>
                    <input type="hidden" name="_gotcha">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <!-- <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>-->
                <script src='https://www.google.com/recaptcha/api.js'></script>
            </div>
        </div>
    </section>
