    <!-- Gallery Section -->
    <section id="gallery" class="content-section text-center">
        <div class="gallery-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Gallery</h2>
                    <p>Photos of the camera setup are provided below:</p>
                    <a href="https://www.youtube.com/channel/UCIvYyv2GKmxF0UZGjIj0Vpw" class="btn btn-default btn-lg">REFLEX Youtube Channel</a>
                </div>
            </div>
        </div>
    </section> 
