<!-- About Gallery -->
    <section id="gallery" class="container content-section text-center">
        <div class="gallery-section">
<!--            <div class="row">-->
<!--            <div class="col-lg-8 col-lg-offset-2">-->
                <h2>Gallery</h2>
                <!-- https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp -->
                <!-- Container for the image gallery -->
                <div class="container">
                  <!-- Full-width images with number text -->
                  <div class="mySlides">
                    <div class="numbertext">1 / 9</div>
                      <img class="img2" src="img/Camera1.jpg">
                  </div>

                  <div class="mySlides">
                    <div class="numbertext">2 / 9</div>
                      <img class="img2" src="img/camboomwide.png">
                  </div>

                  <div class="mySlides">
                    <div class="numbertext">3 / 9</div>
                    <img class="img2" src="img/phonestream.png">
                  </div>

                  <div class="mySlides">
                    <div class="numbertext">4 / 9</div>
                    <img class="img2" src="img/settingspage.png">
                  </div>

                  <div class="mySlides">
                    <div class="numbertext">5 / 9</div>
                    <img class="img2" src="img/vlcsnap-2024-06-25-19h33m45s305.png">
                  </div>

                  <div class="mySlides">
                    <div class="numbertext">6 / 9</div>
                      <img class="img2" src="img/vlcsnap-2024-09-02-21h45m10s497.png">
                  </div>

                  <div class="mySlides">
                    <div class="numbertext">7 / 9</div>
                      <img class="img2" src="img/vlcsnap-2024-09-02-20h03m05s434.png">
                  </div>

                  <div class="mySlides">
                    <div class="numbertext">8 / 9</div>
                      <img class="img2" src="img/vlcsnap-2024-09-02-20h01m21s585.png">
                  </div>

                  <div class="mySlides">
                    <div class="numbertext">9 / 9</div>
                      <img class="img2" src="img/vlcsnap-2024-09-02-22h21m52s574.png">
                  </div>

                  <!-- Next and previous buttons -->
                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>

                  <!-- Image text -->
                  <div class="caption-container">
                    <p id="caption"></p>
                  </div>

                  <!-- Thumbnail images -->
                  <div class="row">
                    <div class="column">
                      <img class="demo cursor img3" src="img/Camera1.jpg" onclick="currentSlide(1)" alt="Camera mounted on gorilla pod alongside lithium battery">
                    </div>
                    <div class="column"> 
                      <img class="demo cursor img3" src="img/camboomwide.png" onclick="currentSlide(2)" alt="Camera mounted on a boom arm on a tree">
                    </div>
                    <div class="column">
                      <img class="demo cursor img3" src="img/phonestream.png" onclick="currentSlide(3)" alt="Live video stream on a phone">
                    </div>
                    <div class="column">
                      <img class="demo cursor img3" src="img/settingspage.png" onclick="currentSlide(4)" alt="User friendly settings page with a live video stream">
                    </div>
                    <div class="column">
                      <img class="demo cursor img3" src="img/vlcsnap-2024-06-25-19h33m45s305.png" onclick="currentSlide(5)" alt="Bechstein's about to re-enter tree">
                    </div> 
                    <div class="column">
                      <img class="demo cursor img3" src="img/vlcsnap-2024-09-02-21h45m10s497.png" onclick="currentSlide(6)" alt="Noctule shouting from woodpecker hole">
                    </div>
                    <div class="column">
                      <img class="demo cursor img3" src="img/vlcsnap-2024-09-02-20h03m05s434.png" onclick="currentSlide(7)" alt="Noctule returning to woodpecker hole">
                    </div>
                    <div class="column">
                      <img class="demo cursor img3" src="img/vlcsnap-2024-09-02-20h01m21s585.png" onclick="currentSlide(8)" alt="Noctule emerging from woodpecker hole">
                    </div>
                    <div class="column">
                      <img class="demo cursor img3" src="img/vlcsnap-2024-09-02-22h21m52s574.png" onclick="currentSlide(9)" alt="Daubenton's bats returning to roost">
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
