 <!-- Navigation -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#page-top">
                <i class=""></i> REFLEX <span class="light">Wildlife Camera YOU GOT IT</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="nav-item hidden">
                        <a class="nav-link" href="#page-top"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#videos">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#price">Price</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>