
<style>
    #mySpecialColumn {
      position: relative;
    }

    #mySpecialColumn img.logo-img {
      max-height: 4.5vw;
      width: auto;
      /* max-width: 100%; */
      position: relative;
    }

    img.logo-img-small {
        display: none;
      }

    @media screen and (max-width: 760px) {
      /* #mySpecialColumn {
        position: static!important;
      } */
      #mySpecialColumn {
        display: none;
      }
      #mySpecialColumn2 {
        display: none;
      }
      #mySpecialColumn img.logo-img {
        min-width: auto;
      }
      img.logo-img-small {
        display: flex!important;
        max-height: 5vw;
        width: auto;
        align-self: flex-end; /* Align the image based on its bottom */
        min-height: 2.25rem;
        margin: 0 1rem; /* Adjust the margin on left and right*/
      }
    }

</style>
<!-- Navigation -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="#page-top">
                <!-- <i class=""></i> <strong>REFLEX</strong> <span class="light">Wildlife Cameras</span> -->
                <div class="col" id="mySpecialColumn">
                    <img src="img/reflex-high-resolution-logo-white-transparent.png" class="logo-img">                
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#videos">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#price">Price</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#setup">Setup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>