    <!-- Production Section -->
    <section id="price" class="content-section text-center">
        <div class="price-section">
            <div class="container">
                <div class="col-lg-8 offset-lg-2">
                    <h2>Price</h2>
                    <listheading>Cost per unit</listheading>
                        <div class="buttons-container m-3">
                            <a tabindex="22" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="£800" data-bs-content="To order - contact me using the form in the contact section of this webpage">£800</a>
                        </div>    
                    <listheading>How to buy</listheading>
                    <p class="m-3">I am currently only producing and selling small batches of cameras at a time. Please contact me directly using the form below for stock inquiries and ordering. If stock is not available, it will take two months to supply, assemble and ship a unit.</p>
                </div>
            </div>
        </div>
    </section>
