    <!-- Production Section -->
    <section id="price" class="content-section text-center">
        <div class="price-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Price</h2>
                    <listheading>Camera</listheading>
                    <p>The camera unit costs £600.
                    <br>
                    It takes approximately one month to assemble and post once ordered.</p>
                    <listheading>Battery</listheading>
                    <br>
                    <p style="margin-bottom: 5px;">Batteries must be bought directly from the suppliers due to safety documentation and postage requirements. The suppliers are based in mainland Europe so I have provided estimated costs based on the euro to GBP exchange rate. There are three different batteries available:</p>
                    <div class="list">
                        <ul>
                            <li>a £150 3.3kg lithium ion battery + £60 charger + £60 custom suitcase (IP67 rated) - runs for c.10 nights</li>
                            <li>a £270 7.9kg lithium ion battery + £60 charger + £60 custom suitcase (IP67 rated) - runs for c.20 nights</li>
                            <li>a £100 15kg cube battery + £100 car battery charger + £20 dry bag - runs for c.12 nights</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
