    <!-- Production Section -->
    <section id="price" class="content-section text-center">
        <div class="price-section">
            <div class="container">
                <div class="col-lg-8 offset-lg-2">
                    <h2>Price</h2>
                    <listheading>Camera</listheading>
                        <div class="buttons-container">
                            <a tabindex="1" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="£800 excl. VAT per unit" data-bs-content="The camera has been designed to hold onto the a few seconds of video prior to a movement occuring. The camera will save videos containing footage before a movement occurs and continue recording until a few seconds after the movement has stopped. This ensure that all movement is captured on video and no movement is missed">£800 excl. VAT per unit</a>
                        </div>    
                        <p>I am currently only producing and selling small batches. Please contact me for stock inquiries. If stock is not available, it will take two months to supply, assemble and ship a unit.</p>
                </div>
            </div>
        </div>
    </section>
