    <!-- Download Section -->
    <section id="production" class="content-section text-center">
        <div class="production-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Production</h2>
                    <p>The camera (plus tripod and cable) should be £600, but it could work out cheaper in batches. It’s a lot of man hours to make only one and I’ll get bulk parts cheaper. You’ll also need to buy a gel battery (c.£100 with charger c.£100) or a lion battery which is fitted in a suitcase (c.£250 with charger £60)</p>
                </div>
            </div>
        </div>
    </section>
