    <!-- Production Section -->
    <section id="production" class="content-section text-center">
        <div class="production-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Production</h2>
                    <p>The camera costs £600. A tree mount setup and cable are included. If you are buying a batch I may be able to provide a discount as I can save on production time and supply postage costs.</p>
                    <p>I provide two different battery options. The batteries need to be bought directly from the suppliers due to shipping costs and safety documentation. Both are from suppliers on the continent so I have provided estimated costs based on the euro to gbp exchange rate:</p>
                    <div class="list">
                        <ul>
                            <li>a 15kg gel battery (c.£100 which requires a car battery charger c.£100); or</li>
                            <li>a lion battery (c.£150 with charger c.£60). I will need to build a custom waterproof suitcase to fit this in (£60)</li>
                        </ul>
                    </div>
                    <p>I make these cameras in my spare time so will need approximately a month to source parts and build the camera. Please use the contact email address below to enquire about the build and payment.</p>
                </div>
            </div>
        </div>
    </section>
