    <!-- Use -->
    <section id="setup" class="content-section text-center">
        <div class="setup-section">
            <div class="container">
                <div class="col-lg-8 offset-lg-2">
                    <h2>Setup</h2>
                    <listheading>Battery</listheading>
                    <div class="m-3">
                        <p class="condensed-para">The system runs on a 12v battery which must be bought seperately. For stability the battery should be rated for at least 5 amps. The system can run on any battery chemistry which gives great flexibility, a very basic chemistry comparison is provided below. Press on the battery chemistry types below to reveal or hide information:</p>
                        <div class="buttons-container">
                            <a tabindex="13" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="Lithium-ion" data-bs-content="Lithium-ion batteries are lighter, easier to maintain and retain good capacity for years. This chemistry can maintain charge even in cold temperatures. Lithium-ion batteries are more expensive than their (lead-acid AGM and gel) counterparts with the same capacity (ampHours). Make sure to use a battery which is safe to discharge and transport.">Lithium-ion</a>
        
                            <a tabindex="14" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="Lead-acid & AGM" data-bs-content="A lead-acid battery is about twice as heavy, but half the price of a lithium-ion battery. This chemistry does slowly lose capaicty with continued use or poor maintenance. AGM lead-acid batteries are recommended as these are sealed and so can be tipped over and bumped without acid spilling from the battery.">Lead-acid AGM</a>

                            <a tabindex="14" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="Gel" data-bs-content="Gel batteries are similar to lead-acid and AGM batteries in weight and price. These batteries are often sealed and if so should be suitable for use in the field. This chemistry is more susceptible to losing charge in the cold than other chemistries.">Gel</a>
                        </div>
                    </div>
                    <div class="m-3">
                        <div class="container">
                            <p class="condensed-para">The system run time is dependent on the capacity (ampHours) of the battery and camera settings. The number of nights it is possible to record will be dependent on the battery temperature, night length and settings. Higher battery capacities mean the battery will weigh more. During testing an 11kg battery seems to be a good compromise between allowing navigation of a woodland with the battery in a backpack and a good system run time.</p>
                            <br>
                            <p class="condensed-para">Higher framerates need brighter lighting which consumes more power, at 120FPS the run time is reduced by half. Enter the amp hours below to estimate the run time for the system set at 30FPS in summer, this estimation assumes the average night length is 9 hours</p>
                            <div>
                                <label for="ampHours" class="form-label form-label2">12v Battery Amp Hours:</label>
                                <!-- Add Bootstrap classes to the input box -->
                                <input type="number" class="form-control" id="ampHours" step="any" placeholder="Enter amp hours">
                            </div>
                            <button class="btn btn-info opacity-75" style="margin: 1rem;" onclick="calculateRunTime()">Calculate Run Time</button>
                            <p id="result" class="mt-3"></p>
                        </div>
                        <p id="result"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function calculateRunTime() {
          // Get the amp hours input value
          var AmpHours = parseFloat(document.getElementById('ampHours').value);
    
          // Define the base values
          var BaseVoltage = 12; // 12v as the base value
          var Consumptionat30 = 1.9; // Watts - based on run Jun 9th 2024
        //   var Consumptionat30 = 4.4; // Watts
          var NightLength = 9; // in hours
    
          // Calculate the run time based on the ratio
          var calculatedHours = (AmpHours * BaseVoltage) / Consumptionat30;
          var calculatedRunTime = calculatedHours / NightLength;
    
          // Display the result
          document.getElementById('result').innerHTML = 'Estimated run time: ' + calculatedRunTime.toFixed(2) + ' nights';
        }
      </script>