    <!-- Video Section -->
    <section id="videos" class="content-section text-center">
        <div class="video-section">
            <div class="container">
                <div class="col-lg-8 offset-lg-2">
                    <h2>Videos</h2>
                    <p element-margin-wide>Sample videos recorded on the camera can be viewed on the REFLEX YouTube channel. Although the system remains the same the camera has been upgraded since many of these recordings, only the latest videos 'Daubenton's in Beech', 'Noctule exploring box in winter' and 'Bechstein's bat entering and emerging from field maple - June 2024' are recorded on the latest camera:</p>
                    <a href="https://youtube.com/playlist?list=PLW9Be5T9-EguXkuaMJxLf1MQtCrUGHf7g" class="btn btn-default2 btn-lg element-margin-wide">REFLEX Youtube Channel</a>
                    <!--<p>CONSIDER EMBEDDING VIDEOS AS HTML</p>-->
                </div>
            </div>
        </div>
    </section> 
